<h1>{{name}}</h1>

<dl>
  <td>Nombre:</td>
  <dd>{{name}}</dd>

  <td>Edad:</td>
  <dd>{{age}}</dd>

  <td>Método:</td>
  <dd>{{ getHeroDescription() }}</dd>

  <td>Nombre capitalizado:</td>
  <dd>{{ getNameCapitalized }}</dd>

</dl>

<button
  (click)="resetForm()"
  class="btn btn-primary mx-2">
Reset
</button>

<button
  *ngIf="this.name !== 'Spiderman'"
  (click)="changeHero()"
  class="btn btn-primary mx-2">
Cambiar nombre
</button>

<button
  *ngIf="this.age !== 25"
  (click)="changeAge()"
  class="btn btn-primary mx-2">
Cambiar edad
</button>

