<h3>{{'Heroes List'}}</h3>

<div *ngIf="deletedHero; else nothingRemoved">
  <h3>Heroe borrado <small class="text-danger">{{ deletedHero }}</small></h3>
</div>

<ng-template #nothingRemoved>
  <h3>No ha borrado nada</h3>
</ng-template>

<button
  *ngIf="heroesNames.length > 0"
  (click)="removeLastHero()"
  class="btn btn-outline-danger">
    Borrar último heroe
</button>

<ul class="mt-2 list-group">
  <li
    *ngFor="let name of heroesNames"
    class="list-group-item">
      {{ name }}
  </li>
</ul>
